.BlogPostHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 50px;
  padding: 0% 10% 0% 10%;
}

.BlogPostHeader-thumbnail {
  width: 100%;
}

.BlogPostHeader-title {
  font-size: 60px;
  font-weight: 600;

  margin-top: 44px;
}
