/**
* Styles in this file are modification of global.css and screen.css in TryGhost/Casper.
* Link of original file and code are attached to each style code.
* Original license: https://github.com/TryGhost/Casper/blob/main/LICENSE
*/

.BlogSearchBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  list-style: none;
  text-align: right;
}

.BlogSearchBar-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
}

.BlogSearchBar-button:hover {
  opacity: 0.9;
}

.BlogSearchBar-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  height: 30px;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-size: 1.6rem;
  border-radius: 48px;
  color: var(--color-darkgrey);
  background: #fff;
  border: 1px solid black;
}
