.BlogHeaderSearchBar {
  margin: 3px;
  margin-left: auto;
  flex-direction: row;
  border: 1px solid;
}

.BlogHeaderSearchBar-loupe {
  vertical-align: middle;
}

.BlogHeaderSearchBar-input {
  vertical-align: middle;
  border: 0;
  outline: 0;
}
