.KeywordPresenter {
  flex-wrap: wrap;
  width: 85%;
  margin: 1em auto 0 auto;
}

.KeywordHeader {
  margin-top: 30px;
  font-size: 4.4rem;
}

.Keyword {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0.1em 0 0 0.2em;
  border-bottom: solid;
}

.Keyword h4 {
  margin: 0;
}