.EmptyPage-noItemIcon {
  margin: 10vh auto 0 auto;
  width: 30vw;
  height: 30vh;
  display: block;
  object-fit: contain;
}

.EmptyPage-description {
  margin: 1vh auto 1vh auto;
  text-align: center;
}
