.loupe-container {
  vertical-align: middle;
  margin-top: 10vh;
  margin-right: auto;
  margin-left: auto;
  width: 30vw;
  height: 30vh;
}

.loupe-container .loupe {
  object-fit: contain;
}

.msg {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
