.ErrorPage-NoItemIcon {
  vertical-align: middle;
  margin: 10vh auto 0 auto;
  width: 30vw;
  height: 30vh;
}

.ErrorPage-NoItemIcon img {
  object-fit: contain;
}

.ErrorPage-Description {
  margin: 1vh auto 1vh auto;
  text-align: center;
}
