.BlogPostHeader {
  padding: 0 0 max(6.4vmin, 40px) 0;
}

.BlogGrid .BlogPostHeader-thumbnail {
  width: 100%;
  margin: 0;
  grid-column: wide-start / wide-end;
}

.BlogPostHeader-thumbnail img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.BlogPostHeader-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(3.2rem, 5vw, 5.2rem);
  font-weight: 800;
  line-height: 1.05;
  color: var(--color-darkgrey);
}

.BlogPostHeader-description {
  display: flex;
  justify-content: space-between;
  margin: min(24px, 5.6vmin) 0 0;
  color: var(--color-secondary-text);
  font-size: 1.5rem;
  line-height: 1.2em;
}
