/** 
* Styles in this file are copy of screen.css in TryGhost/Casper.
* Link of original file and code are attached to each style code.
* Original license: https://github.com/TryGhost/Casper/blob/main/LICENSE
*/

/**
* Copy of .article-header style of screen.css.
* Original file: https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L1224
*/
.BlogPostHeader {
  padding: 0 0 max(6.4vmin, 40px) 0;
}

/**
* Copy of .article-image style of screen.css.
* Original file: https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L1261
*/
.BlogGrid .BlogPostHeader-thumbnail {
  width: 100%;
  margin: 0;
  grid-column: wide-start / wide-end;
}

/**
* Copy of .article-image img style of screen.css.
* Original file: https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L1275
*/
.BlogPostHeader-thumbnail img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

/**
* Copy of .article-title style of screen.css.
* Original file: https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L1241
*/
.BlogPostHeader-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(3.2rem, 5vw, 5.2rem);
  font-weight: 800;
  line-height: 1.05;
  color: var(--color-darkgrey);
}

/**
* Copy of .article-byline and .article-byline-meta style of screen.css.
* Original files: 
*   https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L1694
*   https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L1711
*/
.BlogPostHeader-description {
  display: flex;
  justify-content: space-between;
  margin: min(24px, 5.6vmin) 0 0;
  color: var(--color-secondary-text);
  font-size: 1.5rem;
  line-height: 1.2em;
}
