.Post-card {
  display: flex;
  flex-direction: column;
  border-radius: 1.5vw;
  color: #333;
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
}

img {
  position: relative;
  width: 100%;
  height: calc(100% - 7vw);
  object-fit: cover;
  border-radius: 1.5vw 1.5vw 1px 1px;
}

.Card-content {
  height: 5vw;
  padding: 1vw;
  font-family: 'Georgia';
}

.Card-content h3 {
  margin: auto;
  padding: 0.5vw;
  text-align: left;
  font-size: 2vw;
}

.Card-content div {
  padding: 0.5vw;
  font-size: 1.5vw;
}
