.Post-card {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 400px;
  border-radius: 15px;
  color: #333;
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
}

img {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 1px 1px;
}

.Card-content {
  padding: 0.8em;
  font-family: 'Georgia';
}

.Card-content h3 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 2em;
}

.Card-content div {
  text-align: right;
}
