/**
* Copy or variation of .gh-canvas > * style of screen.css.
* Original file: https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L866
*/
.post-card {
  position: relative;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  background-size: cover;
  word-break: break-word;
  cursor: pointer;
}

/**
* Copy or variation of .gh-canvas > * style of screen.css.
* Original file: https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L1028
*/

.PostCard-meta {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
  padding: 0;
  font-size: 1.3rem;
  color: var(--color-secondary-text);
}

.PostCard-meta > * {
  display: flex;
  align-items: center;
  gap: 6px;
}

/**
* Copy or variation of .gh-canvas > * style of screen.css.
* Original file: https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L973
*/

.PostCard-title {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1.2;
}

/**
* Copy or variation of .gh-canvas > * style of screen.css.
* Original file: https://github.com/TryGhost/Casper/blob/main/assets/css/screen.css#L903
*/

.PostCard-image {
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--color-lightgrey) no-repeat center center;
  object-fit: cover;
}
