@media (min-width: 1001px) {
  .large {
    grid-column: span 3 !important;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 0;
  }

  .post-feed {
    position: relative;
    display: grid;
    gap: 4.8vmin 4vmin;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    padding: max(4.8vmin, 36px) 0 0;
  }

  @media (max-width: 991px) {
    .post-feed {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 767px) {
    .post-feed {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
  }

  .large .postCard-image {
    position: relative;
    width: 100%;
    height: 75%;
  }

  .large .post-card-tags {
    margin-bottom: 12px;
  }

  .large .post-card-title {
    margin-top: 0;
    font-size: 4.4rem;
    line-height: 1.05;
  }

  .post-card.medium {
    grid-column: span 3;
  }

  .post-card.medium .post-card-title {
    font-size: 3rem;
  }

  .medium .post-card-image {
    position: relative;
    width: 100%;
    height: 45%;
  }
}

.post-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
